<?xml version="1.0" encoding="UTF-8"?>
<!-- 30초 마다 -->
<configuration scan="true" scanPeriod="30 seconds"> 
    <!-- LogstashTcpSockerAppender로 로그 출력 -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <!-- destination : logstash 주소 -->
        <destination>localhost:5000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>